<div class="container">

  <form name = "get_input_form" action = "/cool_url" method = "get">
    Gets Input field: <input type="text" name="get_input">
    <input type = "submit" value = "submit">
  </form>
  <br>
  <br>
  <form name="post_input" action='/cool_url' method='post'>
  Post Input field: <input type='text' name='post_input'>
  <input type = 'submit' value='Hit Me!'>
  </form>
  <br>
  <br>

  <form name="text_area" action='/cool_url' method='post'>
  <textarea cols="40" rows="5" name="text_area_input">
    Now we are inside the area - which is nice.
  </textarea>
  <input type = 'submit' value='Hit Me!'>
  </form>

  <br>
  <br>

  <form name="radio_input" action='/cool_url' method='post'>
  <input type="radio" name="group1" value="one_hundred"> $100.00<br>
  <input type="radio" name="group1" value="one_thousand" checked> $1000.00<br>
  <input type="radio" name="group1" value="ten_thousand" checked> $10000.00<br>
  <input type = 'submit' value='Hit Me!'>
  </form>

<br>
  <br>

  <form name="checkbox" action='/cool_url' method='post'>
  <input type="checkbox" name="box[one]" value="milk"> Milk<br>
  <input type="checkbox" name="box[two]" value="sweet_butter" checked> Butter<br>
  <input type="checkbox" name="box[three]" value="holy_bread" checked> Bread<br>
  <input type = 'submit' value='Hit Me!'>
  </form>

  <br>
  <br>

  <form name="drop_down" action='/cool_url' method='post'>
  <select name = "mydropdown">
    <option value = "milk"> Milk</option>
    <option value = "holy_bread"> Bread</option>
    <option value = "sweet_butter">Butter</option>
  <input type = 'submit' value='Hit Me!'>
  </form>













</div>
